body {
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    overflow-x:hidden;
}

/* Nav */

.logo {
    font-family: 'Bungee Shade', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #CA054D;
}    

a.nav-link {
    color: #0E070C !important;
}

a.nav-link:hover {
    color: #CA054D !important;
}

a.nav-link-active {
    color: #CA054D !important;
}

/* Post list page */

a {
    text-decoration: none;
    color:#CA054D;
}

a:hover {
    text-decoration: underline;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #59B176;
    color:#fff;
}

.author{
    color:#0E070C;
}

.page-link {
    background-color: #fff;
    color: #CA054D;
    border-color: #CA054D;
    transition: none;
}

.page-link:hover {
    background-color: #59B176;
    color: #fff;
    border-color:#006400;
    transition: none;
}

.post-link {
    text-decoration: none;
    font-family: 'Bungee Shade', cursive;
    color: #0E070C;
}

.post-link:hover,
.page-link {
    color: #CA054D;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.image-container {
    position: relative;
}

.container-fluid {
    background-color: #FFCC99;
}

.search_recipe {
    margin-top: 30px;
    margin-left:300px;
}

.text-muted{
    color: #0E070C !important;
}

.text-secondary {
    color:#0E070C !important;
    margin-left: 5px !important;
}

.fa-heart:before {
    margin-left: 10px;
}

/* About page */

.main-bg {
    background-color: #FFCC99;
}

.about_crockon {
    font-family: 'Bungee Shade', cursive;
    color:#CA054D;
    margin-top: 40px;
    margin-bottom: 40px;
}

.center {
    text-align:center;
}

/* Recipe post details page. */

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #3B1C32;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.card {
    border: none;
    background-color: transparent;
}

.recipe-post-heading {
    margin-top:30px;
}

.edit-heading {
    margin-top: 30px;
}

p.author {
    font-size: large;
    color:#fff;
}

.author_edit {
    margin-left:32px;
}

.author_edit > a {
    color: #1E90FF !important;
} 

.row {
    padding-left: calc(var(--bs-gutter-x)/0.5);
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 0.01rem;
}

.card-img-top { 
    width: 135%; 
    height: 20vw; 
    object-fit: cover;
}

/* Buttons */

.btn-lg {
    background-color: #59B176;
    color: #fff;
    border-color:#006400;
    margin-left: 40px;
    margin-top: 10px;
}

.btn-lg:hover {
    color:#CA054D;
    background-color: #fff;
    border-color:#CA054D;
}

.btn-signinout {
    background-color: #59B176;
    color: #fff;
    border-color:#006400;
}

.btn-signinout:hover {
    background-color: #fff;
    color: #CA054D;
    border-color: #CA054D;
}

.button {
    background-color: #59B176;
    color: #fff;
    border-color:#006400;
}

.button:hover {
    background-color: #fff;
    color: #CA054D;
    border-color: #CA054D;
}

.search_button {
    background-color: #fff;
    color:#CA054D;
}

.btn-outline-success {
    color: #CA054D;
    border-color: #CA054D;
    margin-right: 10px;
}

.btn-outline-success:hover {
    background-color: #59B176;
    color:#fff;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-btn-outline-info {
    margin-left: 40px;
    margin-top: 10px;
}

/* Share recipe page */

.heading-font {
    font-family: 'Bungee Shade', cursive;
}

.form-group {
    margin-left: 40px;
    margin-right: 40px;
}

.note-editable{
    width:100%;
}

/* Update recipe page */

.create_update_button {
    margin-bottom: 20px;
}

/* Random Recipe page */

#random_recipe {
    margin-top: 30px;
    font-family: 'Bungee Shade', cursive;
}

.low_posts {
    margin-top: 60px;
}

/* Footer */

.dark-bg {
    background-color: #fff;
}

.text-white {
    color: #ca054d !important;
}

.m-0 {
    margin: 10px !important;
}

.socials:hover {
    color:#59B176;
}


