body {
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
}

.container-fluid{
    background-color: #FFCC99;
}

.bg-white {
    background-color: #fff;
}

.logo {
    font-family: 'Bungee Shade', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #CA054D;
}    

.btn-outline-success {
    color: #CA054D;
    border-color: #CA054D;
    margin-right: 10px;
}

.btn-outline-success:hover {
    background-color: #59B176;
    color:#fff;
}

.thin {
    font-weight: 300;
}

.row {
    padding-left: calc(var(--bs-gutter-x)/0.5);
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #FFCC99;
}

.card {
    border: none;
    background-color: transparent;
}

.text-muted{
    color: #0E070C !important;
}

.card-img-top { 
    width: 135%; 
    height: 20vw; 
    object-fit: cover;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #006400;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #3B1C32;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    font-family: 'Bungee Shade', cursive;
    color: #0E070C;
}

.post-link:hover,
.page-link {
    color: #CA054D;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #59B176;
    color: #fff;
}

.btn-signup:hover {
    background-color: #fff;
    color: #CA054D;
    border-color: #CA054D;
}

.button {
    background-color: #59B176;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    color: #CA054D;
    border-color: #CA054D;
}

.link {
    color: #CA054D;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #CA054D;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

   /* footer */

.dark-bg {
    background-color: #fff;
}

.text-white {
    color: #ca054d !important;
}

.m-0 {
    margin: 10px !important;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #59B176;
}

.author{
    color:#fff;
}

a {
    text-decoration: none;
    color:#CA054D;
}

a:hover {
    text-decoration: underline;
}

a.nav-link {
    color: #0E070C !important;
}

a.nav-link:hover {
    color: #CA054D !important;
}

a.nav-link-active {
    color: #CA054D !important;
}

.form-group {
    margin-left: 40px;
    margin-right: 40px;
}

.btn-btn-outline-info {
    margin-left: 40px;
    margin-top: 10px;
}

.text-secondary {
    color:#0E070C !important;
}

.socials:hover {
    color:#59B176;
}