{% extends "base.html" %}

{% block content %}

<center>
<div class="container-fluid">
    <div class="row">

        <h1 class="about_crockon">About Crock-on</h1>

        <p>
            Established in 2022, Crock-on is a recipe sharing website where every calibre of cook is welcome. 
            <br>
            <br>    
            Not sure what to make for dinner? Have a browse through our user recipes for ideas, or if you're feeling indecisive, give the Random Recipe generator a go.
            <br>
            <br>
            If you're particularly chuffed with any of your own culinary creations, don't be shy! Post it up for the rest of our community to drool over &#129316;
            <br>
            <br>
            Happy cooking!
        </p>

    </div>
</div>

</center>
{%endblock%}