{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">

    {% if post_list|length > 2 %}

    <div class="col-md-4">
        <div id="random_recipe">
        <h1>Random Recipe:</h1>  
        </div> 
        <div class="card mb-4">
            <div class="card-body">
                <div class="image-container">
                    {% if "placeholder" in post_list.0.featured_image.url %}
                    <img class="card-img-top"
                        src="static/images/crockon-placeholder.jpg" alt="Crock-on placeholder image.">
                    {% else %}
                    <img class="card-img-top" src=" {{ post_list.0.featured_image.url }}" alt="Uploaded recipe picture">
                    {% endif %}
                    <div class="image-flash">
                        <p class="author">Author: {{ post_list.0.author }}</p>
                    </div>
                </div>
                <a href="{% url 'post_detail' post_list.0.slug %}" class="post-link">
                    <h2 class="card-title">{{ post_list.0.title }}</h2>
                    <p class="card-text">{{ post_list.0.excerpt }}</p>
                </a>
                <hr />
                <p class="card-text text-muted h6">{{ post_list.0.created_on}} <i class="far fa-heart"></i>
                    {{ post_list.0.number_of_likes }}</p>
            </div>
        </div>
    </div>

    {% else %}
    <center>
    <div class="low_posts">
    We're sorry, we're too low on recipes at the moment :( 
    <br>
    <br>
    Why not help us out by sharing your own recipe!
    </div>
    </center>
    {% endif %}

</div>
{%endblock%}